@use '../../utils' as *;

/*----------------------------------------*/
/*  3.1 Header Style 1
/*----------------------------------------*/

.#{$theme-prifix}-header{
    &-search{
        & .tp-input{
            font-family: var(--tp-ff-inter);
            font-weight: 400;
            font-size: 13px;
            color: var(--tp-common-black);
            border-radius: 50px;
            width: 305px;
            height: 36px;
            border: 1px solid transparent;
            background: var(--tp-common-white-2);
            padding-left: 44px;
            @media #{$xl}{
                width: 240px;
            }
            @media #{$lg,$md,$sm,$xs}{
                width: 100%;
                height: 44px;
            }
            &:focus{
                border-color: var(--tp-theme-1);
                background: transparent;
            }
            &::placeholder{
                color: var(--tp-grey-2);
                font-weight: 400;
                font-size: 13px;
            }
        }
        &-btn{
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
            color: var(--tp-grey-2);
            line-height: 1;
            &:hover{
                color: var(--tp-theme-1);
            }
        }
        &:has(.tp-input:focus) .tp-header-typing-wrap {
            opacity: 0;
            transform: translateY(-5px);
            visibility: hidden;
        }
    }
    &-contact{
        & a{
            font-family: var(--tp-ff-inter);
            font-weight: 500;
            font-size: 16px;
            letter-spacing: -0.02em;
            color: var(--tp-common-white);
            border-radius: 50px;
            background: var(--tp-theme-1);
            padding: 10px 18px;
            display: inline-block;
            line-height: 1;
            &:hover{
                background: var(--tp-common-red);
            }
        }
    }
    &-logo{
        &.mr-60{
            @media #{$xl,$lg,$md,$sm,$xs}{
                margin-right: 20px;
            }
        }
    }
    &-toogle{
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 4px;
        width: 36px;
        height: 36px;
        border: 1px solid rgba(7, 21, 22, 0.1);
        border-radius: 100px;
        padding: 13px 8px;
       & span{
            height: 2px;
            width: 17px;
            display: block;
            background: var(--tp-common-black);
            transition: all .4s ease;
            &:first-child{
                width: 12px;
            }
        } 
        &:hover{
            border-color: var(--tp-theme-1);
            & span{
                animation: bar_anim 0.8s cubic-bezier(0.44, 1.1, 0.53, 0.99) 1 forwards;
                background: var(--tp-theme-1);
                &:nth-child(2) {
                    animation-delay: 0.1s;
                }
            }
        }
    }
    &-lg{
        &-ptb{
            @media #{$lg,$md,$sm,$xs}{
                padding: 13px 0;
            }
        }
    }
    &-login{
        & ul{
            top: 46px!important;
        }
        & .tp-header-login-btn{
            color: var(--tp-common-black);
            width: 25px;
            height: 25px;
            border:  1.4px solid currentColor;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .4s ease;
            padding: 0;
            &:hover{
                color: var(--tp-common-red);
            }
            &::after{
                display: none;
            }
        }
    }
    &-border{
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    }
    &-cart{
        color: var(--tp-common-black);
        &:hover{
            color: var(--tp-theme-1);
        }
        & span{
            width: 22px;
            height: 22px;
            background: var(--tp-theme-1);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            font-size: 12px;
            position: absolute;
            color: var(--tp-common-white);
            top: -7px;
            right: -12px;
        }
    }
    &-typing{
        &-wrap{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 115px;
            & span{
                font-family: var(--tp-ff-inter);
                font-weight: 500;
                font-size: 13px;
                color: var(--tp-theme-1);
            }
        }
    }
    &-one{
        & .tp-header-search .tp-input {
            font-size: 14px;
            width: 280px;
            padding-right: 44px;
            padding-left: 26px;
            &::placeholder{
                font-size: 14px;
            }
            @media #{$xl}{
                width: 240px;
            }
        }
        & .tp-header-search-btn {
            left: auto;
            right: 20px;
        }
        & .tp-main-menu nav ul li a {
            padding: 23px 0;
        }
        & .tp-header-contact a {
            padding: 10px 25px;
        }
    }
    &-two{
        &-bg{
            background: var(--tp-common-white);
            border-radius: 50px;
            padding: 14px 14px 14px 20px;
            @media #{$sm,$xs}{
                margin-top: 15px;
            }
        }
        & .tp-main-menu nav ul li:not(:last-child) {
            margin-right: 0;
        }
        & .tp-main-menu nav > ul > li > a {
            padding: 10px 30px 10px 15px;
            border-radius: 33px;
            border: 1px solid transparent;
            font-size: 15px;
            &:hover{
                border-color: var(--tp-theme-1);
            }
        }
        & .tp-header-contact{
            @media #{$xl,$lg,$md,$sm,$xs}{
                margin-left: 30px;
            }
        }
        & .tp-header-toogle{
            @media #{$sm,$xs}{
                margin-left: 20px;
            }
        }
        & .tp-menu-dropdown nav > ul > li.has-dropdown > a::after {
            top: 36%;
            right: 15px;
        }
        & .tp-menu-dropdown nav ul li:hover.has-dropdown a {
            border-color: var(--tp-theme-1);
        }
        & .tp-header-logo{
            margin-left: 190px;
            @media #{$xl,$lg,$md,$sm,$xs}{
                margin-left: 0;
            }
        }
        & .tp-header-search{
            border-left: 1px solid rgba(7, 21, 22, 0.2);
            padding-left: 23px;
            margin-left: 23px;
        }
        & .tp-header-contact a {
            padding: 13px 25px;
        }
        & .tp-header-search .tp-input {
            border-radius: 0;
            width: 105px;
            height: 25px;
            border: none;
            background: transparent;
            padding-left: 22px;
            padding-right: 0;
            &::placeholder{
                font-size: 13px;
                letter-spacing: -0.03em;
                color: #5b5f60;
            }
        }
        & .tp-header-search-btn {
            left: 0;
            color: var(--tp-grey-1);
        }
    }
    &-four{
        background: var(--tp-theme-1);
        &.header-sticky{
            & .logo-1{
                display: none;
            }
            & .logo-2{
                display: block!important;
            }
            & .tp-main-menu nav > ul > li > a {
                color: var(--tp-common-black);
            }
            & .tp-menu-dropdown nav ul li.active > a {
                color: var(--tp-theme-1);
            }
            & .tp-menu-dropdown nav ul li.active > a::after {
                color: var(--tp-theme-1);
            }
            & .tp-main-menu nav > ul > li:hover > a {
                color: var(--tp-theme-1);
            }
            & .tp-menu-dropdown nav > ul > li:hover.has-dropdown > a::after {
                color: var(--tp-theme-1);
            }
            & .tp-header-cart {
                color: var(--tp-common-black);
            }
            & .tp-header-cart span {
                background: var(--tp-theme-1);
                color: var(--tp-common-white);
            }
            & .tp-header-login-btn {
                color: var(--tp-common-black);
            }
            & .tp-header-login-btn:hover {
                color: var(--tp-theme-1);
            }
            & .tp-header-contact a {
                color: var(--tp-common-white);
                background: var(--tp-theme-1);
            }
            & .tp-header-contact a:hover {
                background: var(--tp-common-red);
                color: var(--tp-common-white);
            }
        }
        & .tp-main-menu nav > ul > li > a {
            color: var(--tp-common-white);
        }
        & .tp-main-menu nav > ul > li:hover > a {
            color: var(--tp-common-white);
        }
        & .tp-menu-dropdown nav ul li.active > a {
            color: var(--tp-common-white);
        }
        & .tp-menu-dropdown nav ul li.active > a::after {
            color: var(--tp-common-white);
        }
        & .tp-menu-dropdown nav ul li .sub-menu li.active > a {
            color: var(--tp-theme-1);
        }
        & .tp-menu-dropdown nav > ul > li:hover.has-dropdown > a::after {
            color: var(--tp-common-white);
        }
        & .tp-header-contact a {
            color: var(--tp-common-black);
            background: var(--tp-common-white);
            &:hover{
                background: var(--tp-common-black);
                color: var(--tp-common-white);
            }
        }
        & .tp-header-login-btn{
            color: var(--tp-common-white);
            &:hover{
                color: var(--tp-common-white);
            }
        }
        & .tp-header-cart {
            color: var(--tp-common-white);
        }
        & .tp-header-cart span {
            background: var(--tp-common-white);
            color: var(--tp-common-black);
        }
        & .tp-header-toogle span {
            background: var(--tp-common-white);
        }
        & .tp-main-menu {
            @media #{$xl,$sm,$md,$sm,$xs}{
                &.mr-50{
                    margin-right: 0;
                }
            }
        }
    }
    &-5{
        & .tp-header-search .tp-input {
            box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.06);
            background: var(--tp-common-white);
            border: 1px solid rgba(17, 17, 17, 0.1);
            &:focus{
                border-color: var(--tp-theme-1);
            }
        }
    }
}

