@use '../utils' as *;

/*----------------------------------------*/
/*  2.4 Breadcrumb
/*----------------------------------------*/

.#{$theme-prifix}-breadcrumb{
    &-title{
        letter-spacing: -0.04em;
        color: var(--tp-common-white);
        font-size: 48px;
        @media #{$md,$sm}{
            font-size: 42px;
        }
        @media #{$xs}{
            font-size: 32px;
        }
        &.titel-black{
            color: var(--tp-common-black);
        }
        &.fs-112{
            font-size: 112px;
            text-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
            letter-spacing: -0.02em;
            @media #{$lg,$md,$sm}{
                font-size: 62px;
            }
            @media #{$xs}{
                font-size: 42px;
            }
            &.shadow-none{
                text-shadow: none;
            }
        }
    }
    &-subtitle{
        font-size: 20px;
        letter-spacing: -0.04em;
    }
    &-ptb{
        padding-top: 163px;
        padding-bottom: 175px;
        @media #{$xl,$lg,$md}{
            padding-top: 123px;
            padding-bottom: 135px;
        }
        @media #{$sm,$xs}{
            padding-top: 100px;
            padding-bottom: 100px;
        }
        &-2{
            padding-top: 240px;
            padding-bottom: 210px;
            @media #{$xl,$lg,$md}{
                padding-top: 123px;
                padding-bottom: 135px;
            }
            @media #{$sm,$xs}{
                padding-top: 100px;
                padding-bottom: 100px;
            }
        }
        &-3{
            padding-top: 243px;
            padding-bottom: 243px;
            @media #{$xl,$lg,$md}{
                padding-top: 123px;
                padding-bottom: 135px;
            }
            @media #{$sm,$xs}{
                padding-top: 100px;
                padding-bottom: 100px;
            }
        }
    }
    &-overly{
        position: relative;
        z-index: 1;
        &::before{
            position: absolute;
            content: "";
            background: rgba(7, 21, 22, 0.4);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }
    &-select{
        & .tp-select{
            height: auto;
            background: transparent;
            border: none;
            color: var(--tp-common-white);
            font-weight: 500;
            font-size: 24px;
            letter-spacing: -0.03em;
            height: 36px;
            padding-left: 0;
            @media #{$xs}{
                font-size: 18px;
            }
            &::after {
                color: var(--tp-common-white);
                top: 57%;
            }
            & .current{
                text-shadow: 0 9px 16px rgba(0, 0, 0, 0.2);
            }
            & .option {
                color: var(--tp-common-black);
                font-weight: 400;
                font-size: 17px;
                &:hover{
                    color: var(--tp-theme-1);
                }
            }
        }
    }
    &-list{
        & ul{
            display: flex;
            & li{
                font-weight: 500;
                font-size: 18px;
                color: var(--tp-common-white);
                list-style: none;
                & span{
                    width: 8px;
                    height: 8px;
                    display: inline-block;
                    background: var(--tp-common-white);
                    border-radius: 40px;
                    margin: 0 10px;
                }
                & a{
                    color: var(--tp-common-white);
                    @include bgborder(currentColor, 0,0);
                    @include transition(all .4s ease);
                    &:hover{
                        @include bgborder(currentColor, 0,100%);
                        @include transition(all .4s ease);
                    }
                }
            }
        }
    }
}
.breadcrumbs{
    padding-top: 54px;
    & ul{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        & li{
            font-weight: 400;
            font-size: 16px;
            color: var(--tp-grey-1);
            list-style: none;
            position: relative;
            &:not(:last-child){
                padding-right: 18px;
                margin-right: 8px;
                &::before{
                    position: absolute;
                    content: "\f105";
                    font-family: var(--tp-ff-fontawesome);
                    top: 0;
                    right: 0;
                    color: var(--tp-common-black);
                }
            }
            & a{
                font-weight: 500;
                color: var(--tp-common-black);
                &:hover{
                    color: var(--tp-theme-1);
                }
            }
        }
    }
}