@use '../utils' as *;

/*----------------------------------------*/
/*  2.10 Section Title
/*----------------------------------------*/

.#{$theme-prifix}-section{
    &-subtitle{
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        color: var(--tp-theme-1);
        border: 1px solid rgba(253, 70, 33, 0.1);
        border-radius: 23px;
        line-height: 1;
        padding: 7px 16px;
    }
    &-title{
        line-height: 1;
        font-size: 52px;
        & span{
            color: var(--tp-theme-1);
        }
        @media #{$lg,$md,$sm}{
            font-size: 42px;
        }
        @media #{$xs}{
            font-size: 36px;
        }
        @media #{$md,$sm,$xs}{
            & br{
                display: none;
            }
        }
        &.fs-74{
            font-size: 74px;
            line-height: 114%;
            @media #{$sm,$xs}{
                font-size: 45px;
            }
        }
        &.fs-32{
            font-size: 32px;
            @media #{$sm,$xs}{
                font-size: 28px;
            }
        }
        &.fs-24{
            font-size: 24px;
            @media #{$sm,$xs}{
                font-size: 20px;
            }
        }
    }
    &-two{
        &-subtitle{
            font-weight: 500;
            font-size: 14px;
            text-transform: uppercase;
            color: var(--tp-theme-1);
        }
    }
    &-5{
        &-subtitle{
            font-family: var(--tp-ff-dancing);
            font-size: 28px;
            color: var(--tp-theme-1);
        }
    }
}