@use '../../utils' as *;

/*----------------------------------------*/
/*  5.3 Recent Post css
/*----------------------------------------*/
.rc-post{
    &-thumb{
        flex: 0 0 auto;
        overflow: hidden;
        margin-right: 30px;
        border-radius: 14px;
        & img{
            transition: .9s;
            border-radius: 14px;
            @media #{$sm,$xs}{
                height: 100px;
                width: 100px;
            }
        }
    }
    &:hover{
        & .rc-post-thumb{
            & img{
                transform: scale(1.1);
            }
        }
    }
    &-category{
        margin-bottom: 7px;
        & a{
            font-weight: 600;
            font-size: 13px;
            line-height: 1;
            color: var(--tp-theme-1);
            padding: 3px 10px;
            border-radius: 15px;
            display: inline-block;
            border: 1px solid rgba(17, 17, 17, 0.1);
        }
    }
    &-title{
        font-weight: 600;
        font-size: 17px;
        line-height: 1.4;
        margin-bottom: 9px;
        letter-spacing: -0.01em;
        color: var(--tp-common-black);
        & a{
            &:hover{
                color: var(--tp-theme-1);
            }
        }
    }
    &-content{
        & .rc-post-meta span {
            font-weight: 600;
            font-size: 13px;
            line-height: 1;
            color: #5f556a;
        }
        & .tp-blog-meta span:not(:last-child)::after {
            top: 4px;
        }
    }
    &-wrap{
        & .rc-post{
            &:not(:last-child){
                padding-bottom: 25px;
                margin-bottom: 25px;
                border-bottom: 1px solid rgba(45, 26, 14, 0.1);
            }
        }
    }
}