@use '../../utils' as *;

/*----------------------------------------*/
/*  7.7 category
/*----------------------------------------*/

.#{$theme-prifix}-category{
    &-title{
        font-weight: 500;
        font-size: 15px;
        color: var(--tp-common-black);
        & a{
            &:hover{
                color: var(--tp-theme-1);
            }
        }
    }
    &-item{
        border: 1px solid rgba(7, 21, 22, 0.1);
        border-radius: 16px;
        min-height: 144px;
        padding: 32px 20px 20px 20px;
        transition: all .4s ease;
        &:hover{
            border: 1px solid var(--tp-theme-1);
        }
    }
    &-icon{
        margin-bottom: 12px;
    }
    &-city{
        @media #{$md,$sm,$xs}{
            flex-wrap: wrap;
        }
        &-tab{
            & ul{
                & li{
                    list-style: none;
                    display: inline-block;
                    &:not(:last-child){
                        margin-right: 30px;
                    }
                    & a{
                        font-weight: 500;
                        font-size: 15px;
                        letter-spacing: -0.04em;
                        color: var(--tp-common-black);
                        display: flex;
                        align-items: center;
                        padding: 8px 0;
                        position: relative;
                        display: inline-block;
                        &::before{
                            position: absolute;
                            content: "";
                            width: 0;
                            height: 1px;
                            background: var(--tp-theme-1);
                            bottom: -1px;
                            left: 0;
                        }
                        & svg{
                            margin-right: 5px;
                            transform: translateY(-1px);
                        }
                        &.active{
                            color: var(--tp-theme-1);
                            &::before{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        &-date{
            & .tp-input{
                color: var(--tp-common-black);
                font-size: 16px;
                letter-spacing: -0.02em;
                border-radius: 50px;
                border: 1px solid rgba(17, 17, 17, 0.1);
                width: 230px;
                height: 50px;
                font-weight: 500px;
                padding-left: 48px;
                padding-right: 10px;
                @media #{$xs}{
                    width: 195px;
                }
                &:hover{
                    color: var(--tp-theme-1);
                    border-color: var(--tp-theme-1);
                }
                &::placeholder{
                    color: var(--tp-common-black);
                    font-size: 16px;
                    letter-spacing: -0.02em;
                    font-weight: 500px;
                }
            }
            & .date-icon{
                position: absolute;
                left: 25px;
                top: 48%;
                transform: translateY(-50%);
            }
        }
        &-select{
            padding-left: 110px;
            margin-left: 30px;
            border-left: 1px solid rgba(17, 17, 17, 0.1);
            @media #{$md,$sm,$xs}{
                border: none;
                margin-left: 0;
                margin-top: 20px;
                padding-left: 94px;
            }
            & input{
                display: none;
                & ~ span{
                    font-weight: 500;
                    font-size: 14px;
                    color: var(--tp-common-black);
                    border-radius: 30px;
                    transition: all 0.4s ease;
                    padding: 18px 24px;
                    display: inline-block;
                    cursor: pointer;
                    background: #f8f8f8;
                    line-height: 1;
                    @media #{$sm,$xs}{
                        padding: 12px 30px;
                    }
                    &:hover{
                        background: var(--tp-theme-1);
                        color: var(--tp-common-white);
                    }
                }
                &:checked ~ span{
                    background: var(--tp-theme-1);
                    color: var(--tp-common-white);
                }
            }
            & .swiper-slide{
                display: inline-block;
                width: auto!important;
            }
        }
        &-slider{
            &-nav{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 15px;
                right: 0;
                display: flex;
                gap: 5px;
                @media #{$md,$sm,$xs}{
                    left: 0;
                }
                & button{
                    width: 40px;
                    height: 40px;
                    border: 1px solid rgba(17, 17, 17, 0.1);
                    color: var(--tp-common-black);
                    display: flex;
                    border-radius: 100px;
                    justify-content: center;
                    align-items: center;
                    &:hover{
                        background: var(--tp-theme-1);
                        color: var(--tp-common-white);
                    }
                }
            }
        }
    }
}