@use '../../utils' as *;

/*----------------------------------------*/
/*  7.10 contact
/*----------------------------------------*/

.#{$theme-prifix}-contact{
    &-title{
        &-sm{
            font-size: 16px;
            letter-spacing: -0.02em;
            color: var(--tp-common-black);
        }
    }
    &-info{
        border-top: 1px solid rgba(7, 21, 22, 0.1);
        border-bottom: 1px solid rgba(7, 21, 22, 0.1);
        padding-top: 32px;
        margin-top: 32px;
        &-wrap{
            @media #{$lg,$md,$sm,$xs} {
                margin-right: 0;
            }
        }
        &-icon{
            width: 54px;
            height: 54px;
            border: 1px solid var(--tp-border-1);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
            flex: 0 0 auto;
        }
        &-text{
            & span{
                font-weight: 400;
                font-size: 13px;
                color: var(--tp-grey-1);
                display: block;
                line-height: 1;
                margin-bottom: 3px;
            }
            & a{
                font-weight: 500;
                font-size: 16px;
                letter-spacing: -0.03em;
                color: var(--tp-common-black);
                &:hover{
                    color: var(--tp-theme-1);
                }
            }
        }
    }
    &-form{
        & .tp-review-input .tp-label {
            font-weight: 400;
            font-size: 16px;
            color: var(--tp-grey-1);
            & span{
                color: var(--tp-theme-1);
            }
        }
        & .tp-review-input .tp-input {
            border: 1px solid rgba(7, 21, 22, 0.1);
            background: none;
            font-size: 15px;
            height: 60px;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 12px;
            &::placeholder{
                font-size: 15px;
            }
            &:focus{
                border-color: var(--tp-theme-1);
            }
        }
        & .tp-review-input .tp-textarea {
            height: 180px;
        }
    }
    &-map{
        &-box{
            line-height: 0;
            & iframe{
                height: 620px;
                width: 100%;
                line-height: 1;
                filter: saturate(0);
                @media #{$md,$sm} {
                    height: 400px;
                }
                @media #{$xs} {
                    height: 300px;
                }
            }
        }
    }
}