@use '../../utils' as *;

/*----------------------------------------*/
/* 7.15 faq css
/*----------------------------------------*/

.#{$theme-prifix}-faq{
    &-btn{
        font-weight: 600;
        font-size: 22px;
        color: var(--tp-common-black);
        padding: 23px 10px;
        @media #{$lg}{
            font-size: 20px;
        }
        @media #{$xs}{
            font-size: 18px;
        }
    }
    &-wrap{
        & .accordion-item {
            border: 1px solid #e7eaea;
            border-radius: 8px;
            margin-bottom: 16px;
        }
        & .accordion-button:not(.collapsed) {
            color: var(--tp-common-black);
            background: none;
            box-shadow: none; 
        }
        & .accordion-header{
            padding-left: 66px;
            @media #{$xs}{
                padding-left: 40px;
            }
        }
        & .accordion-button:focus {
            border: none;
            box-shadow: none;
        }
        & .accordion-body {
            padding: 24px 0 12px 0;
            margin: 0px 40px 0px 30px;
            border-top: 1px solid rgba(7, 21, 22, 0.1);
        }
        & .tp-faq-btn:after {
            background-image: inherit;
        }
        & .accordion-btn{
            position: absolute;
            top: 50%;
            left: -20px;
            transform: translateY(-50%);
            display: inline-block;
            width: 12px;
            height: 12px;
            @media #{$xs}{
                left: -10px;
            }
            &::after{
                position: absolute;
                content: '';
                width: 12px;
                height: 2px;
                left: -12px;
                top: 50%;
                transform: translateY(-50%);
                background-color: var(--tp-common-black);
                border-radius: 2px;
                transition: all .4s ease;
            }
            &::before{
                position: absolute;
                content: "";
                width: 2px;
                height: 12px;
                left: -50%;
                top: 50%;
                background-color: var(--tp-common-black);
                transform: translate(-50%, -50%) rotate(90deg);
                border-radius: 2px;
                transition: all .4s ease;
            }
        }
        & .accordion-button:not(.collapsed) {
            color: var(--tp-common-black);
            background: none;
            box-shadow: none;
        }
        & .accordion-button.collapsed .accordion-btn::before {
            transform: translate(-50%, -50%);
        }
        &:not(.collapsed) .accordion-btn::after {
            opacity: 1;
        }
    }
    &-city{
        &-ptb{
            @media #{$md,$sm,$xs}{
                padding-top: 80px;
                padding-bottom: 40px;
            }
        }
    }
    &-two{
        &-wrap{
            & .accordion-item {
                border: none;
                border-radius: 0;
                border-bottom: 1px solid #e7eaea;
                margin-bottom: 0;
            }
            & .accordion-header {
                padding-left: 32px;
            }
            & .tp-faq-btn {
                font-size: 20px;
                padding: 27px 10px;
            }
            & .accordion-body {
                padding: 0 0 12px 0;
                border-top: none;
                margin: 0 40px 0px 40px;
                @media #{$xs}{
                    margin: 0 0 0px 40px;
                }
            }
        }
        &-thumb{
            & img{
                border-radius: 16px;
            }
        }
        &-left{
            @media #{$xxl,$xl,$lg,$md,$sm,$xs}{
                margin-right: 0;
            }
        }
        &-right{
            @media #{$xl}{
                margin-left: 100px;
            }
            @media #{$lg,$md,$sm,$xs}{
                margin-left: 0;
            }
        }
    }
    &-status{
        &-wrap{
            position: absolute;
            bottom: 50px;
            left: -110px;
            z-index: 2;
            @media #{$lg,$md,$sm,$xs}{
                left: 0;
            }
            @media #{$xs}{
                position: inherit;
                bottom: 0;
                top: 30px;
            }
        }
        &-item{
            border-radius: 12px;
            padding: 20px 30px 23px 30px;
        }
        &-subtitle{
            font-size: 14px;
            color: var(--tp-common-black);
        }
        &-title{
            font-size: 52px;
            letter-spacing: -0.02em;
            color: var(--tp-common-black);
        }
    }
    &-form{
        background: var(--tp-grey-3);
        border-radius: 32px;
        padding: 55px 60px 45px 60px;
        @media #{$xl,$lg,$md,$sm,$xs}{
            padding: 25px 20px 25px 20px;
        }
        & .tp-contact-form .tp-review-input .tp-input {
            border: 1px solid transparent;
            background: var(--tp-common-white);
            border-radius: 6px;
        }
    }
    &-contact{
        &-content{
            @media #{$xl,$lg,$md,$sm,$xs}{
                margin-left: 0;
            }
            & .tp-chose-two-item {
                border-radius: 0;
                padding: 0;
            }
            & .tp-about-two-service-icon {
                width: 60px;
                height: 60px;
                background: var(--tp-grey-3);
            }
            & .tp-about-two-service-title {
                font-weight: 500;
                font-size: 15px;
                letter-spacing: -0.02em;
            }
        }
    }
    &-banner{
        &.tp-offer-banner-overly::before {
            background: rgba(0, 0, 0, 0.7);
        }
    }
}