@use '../../utils' as *;

/*----------------------------------------*/
/*  7.22 offer
/*----------------------------------------*/

.#{$theme-prifix}-offer{
    &-banner{
        &-title{
            @media #{$sm,$xs}{
                font-size: 40px;
            }
            &.fs-62{
                font-size: 62px;
                line-height: 1;
            }
            &.fs-42{
                font-size: 42px;
                line-height: 114%;
            }
            &.fs-30{
                font-size: 30px;
                line-height: 1;
            }
        }
        &-subtitle{
            font-family: var(--font3);
            font-weight: 700;
            font-size: 22px;
            color: var(--tp-common-white);
        }
        &-location{
            & span{
                font-weight: 400;
                font-size: 16px;
                letter-spacing: -0.05em;
                color: var(--tp-common-white);
            }
            & svg{
                color: var(--tp-common-white);
                transform: translateY(-2px);
                margin-right: 2px;
            }
        }
        &-overly{
            &::before{
                position: absolute;
                content: "";
                background: linear-gradient(90deg, #071516 0%, rgba(7, 21, 22, 0.5) 47.31%, rgba(0, 0, 0, 0) 80.77%);
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
        }
        &-six{
            padding-top: 240px;
            padding-bottom: 250px;
            @media #{$x3l,$xxl,$xl,$lg,$md,$sm,$xs}{
                padding-top: 140px;
                padding-bottom: 140px;
            }
            & .tp-offer-banner-location span {
                font-size: 20px;
            }
        }
    }
    &-3{
        &-banner{
            border-radius: 16px;
            padding: 70px 50px 70px 50px;
            @media #{$xs}{
                padding: 40px 30px 40px 30px;
            }
        }
    }
}