@use '../../utils' as *;

/*----------------------------------------*/
/*  7.24 pricing
/*----------------------------------------*/

.#{$theme-prifix}-pricing{
    &-subtitle{
        font-weight: 500;
        font-size: 16px;
        letter-spacing: -0.02em;
        color: var(--tp-common-black);
    }
    &-price{
        font-size: 66px;
        letter-spacing: -0.05em;
        line-height: 1;
        @media #{$xl,$lg,$md,$sm,$xs}{
            font-size: 42px;
        }
    }
    &-meta{
        font-weight: 500;
        font-size: 15px;
        color: var(--tp-common-black);
    }
    &-item{
        background: var(--tp-common-white);
        padding: 45px 40px 44px 40px;
        border: 1px solid rgba(255, 253, 225, 0.1);
        border-radius: 16px;
        height: 100%;
    }
    &-header{
        padding-bottom: 4px;
        margin-bottom: 40px;
        border-bottom: 1px solid rgba(7, 21, 22, 0.1);
    }
    &-badge{
        font-weight: 500;
        font-size: 16px;
        color: var(--tp-common-white);
        border-radius: 30px;
        display: inline-block;
        padding: 7px 17px;
        line-height: 1;
        background: var(--tp-theme-1);
    }
    &-feature{
        margin-bottom: 43px;
        & ul{
            & li{
                list-style: none;
                font-weight: 400;
                font-size: 15px;
                color: var(--tp-grey-1);
                margin-bottom: 14px;
                padding-left: 13px;
                position: relative;
                &::before{
                    position: absolute;
                    content: "";
                    width: 4px;
                    height: 4px;
                    background: var(--tp-grey-1);
                    left: 0;
                    top: 10px;
                    border-radius: 100px;
                }
            }
        }
    }
}