@use '../../utils' as *;

/*----------------------------------------*/
/* 7.25 process css
/*----------------------------------------*/

.#{$theme-prifix}-process{
    &-item{
        background: var(--tp-grey-3);
        padding: 26px 20px 50px 24px;
        border-radius: 16px;
    }
    &-icon{
        & img{
            width: 222px;
            height: 203px;
            object-fit: contain;
        }
    }
    &-title{
        font-weight: 600;
        font-size: 24px;
        & span{
            font-weight: 500;
            font-size: 12px;
            text-transform: uppercase;
            color: var(--tp-common-white);
            border-radius: 18px;
            padding: 0px 5px;
            line-height: 1;
            background: var(--tp-theme-1);
        }
    }
}