@use '../../utils' as *;

/*----------------------------------------*/
/*  7.28 service
/*----------------------------------------*/

.#{$theme-prifix}-service{
    &-title{
        font-size: 20px;
        @media #{$lg}{
            font-size: 18px;
        }
    }
    &-icon{
        border-radius: 100%;
        background: var(--tp-common-white);
        box-shadow: 0 1px 2px 0 rgba(17, 17, 17, 0.14);
        width: 64px;
        height: 64px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    &-shape{
        position: absolute;
        top: 58px;
        right: 0;
        width: 11%;
    }
    &-content{
        & p{
            @media #{$xl,$lg,$md,$sm,$xs}{
                & br{
                    display: none;
                }
            }
        }
    }
}

.icon-animetion{
    &-wrap{
        &:hover{
            & .icon-animetion-icon{
                animation-name: tpshake;
                animation-timing-function: ease-in-out;
                animation-duration: 0.4s;
                animation-iteration-count: 1;
            }
        }
    }
    &-icon{
        transition: all .4s ease;
    }
}
