@use '../../utils' as *;

/*----------------------------------------*/
/*  7.29 team css start
/*----------------------------------------*/

.#{$theme-prifix}-team{
    &-thumb{
        border-radius: 16px;
        overflow: hidden;
        & img{
            transition: all .4s ease;
        }
    }
    &-subtitle{
        font-weight: 400;
        font-size: 16px;
        color: var(--tp-grey-1);
        border-radius: 40px;
        padding: 7px 16px;
        background: var(--tp-grey-3);
        transition: all .4s ease;
    }
    &-ptb{
        @media #{$xl,$lg,$md,$sm,$xs}{
            padding-top: 100px;
            padding-bottom: 30px;
        }
    }
    &-title{
        font-weight: 600;
        font-size: 28px;
        & a{
            transition: all .5s ease;
            &:hover{
                color: var(--tp-theme-1);
            }
        }
    }
    &-item{
        &:hover{
            & .tp-team-thumb{
                & img{
                    transform: scale(1.1);
                }
            }
            & .tp-team-social{
                transform: translateX(0);
                opacity: 1;
                visibility: visible;
            }
            & .tp-team-subtitle{
                background: var(--tp-theme-1);
                color: var(--tp-common-white);
            }
        }
    }
    &-social{
        position: absolute;
        right: 16px;
        bottom: 16px;
        background: var(--tp-common-white);
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        border-radius: 8px;
        padding: 25px 19px;
        opacity: 0;
        visibility: hidden;
        transform: translateX(10px);
        transition: all .4s ease;
        & a{
            &:hover{
                color: var(--tp-theme-1);
            }
        }
    }
    &-details{
        &-ptb{
            padding-top: 100px;
        }
        &-subtitle{
            font-weight: 400;
            font-size: 15px;
            color: var(--tp-grey-1);
        }
        &-thumb{
            & img{
                width: 100%;
                border-radius: 14px;
            }
        }
        &-info{
            padding: 10px 0;
            border-top: 1px solid rgba(17, 16, 19, 0.10);
            border-bottom: 1px solid rgba(17, 16, 19, 0.10);
            @media #{$lg,$md,$sm,$xs} {
                flex-wrap: wrap;
            }
            &-contact{
                & a{
                    font-size: 14px;
                    font-weight: 500;
                    color: var(--tp-common-black);
                    display: inline-block;
                    letter-spacing: -0.28px;
                    &:hover{
                        color: var(--tp-theme-1);
                    }
                    &:not(:last-of-type){
                        margin-right: 15px;
                        padding-right: 20px;
                        border-right: 1px solid rgba(17, 16, 19, 0.10);
                    }
                    & svg{
                        @extend %svg-2;
                        margin-right: 5px;
                        color: var(--tp-theme-1);
                    }
                }
            }
        }
        &-social{
            display: flex;
            gap: 15px;
            & a{
                color: var(--tp-grey-1);
                &:hover{
                    color: var(--tp-theme-1);
                }
            }
        }
        &-wrap{
            @media #{$md,$sm,$xs} {
                margin-bottom: 30px;
            }
        }
        &-wrapper{
            padding-left: 90px;
            @media #{$xxl,$xl,$lg,$md,$sm,$xs} {
                margin-right: 0;
            }
            @media #{$lg} {
                padding-left: 50px;
            }
            @media #{$md,$sm,$xs} {
                padding-left: 0;
            }
        }
        &-more{
            &-title{
                font-size: 32px;
                letter-spacing: -0.02em;
            }
            & ul{
                & li{
                    list-style: none;
                    color: #111013;
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 10px;
                    & span{
                        color: #525356;
                        font-size: 16px;
                        font-weight: 400;
                        min-width: 100px;
                        margin-right: 40px;
                        display: inline-block;
                    }
                }
            }
        }
        &-progress{
            &-title{
                color: var(--tp-common-black);
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 13px;
            }
            &-inner{
                position: relative;
                width: 100%;
                height: 5px;
                background: #d9d9d9;
            }
            &-bar{
                overflow: visible;
                display: flex;
                height: 5px;
                text-align: center;
                white-space: nowrap;
                transition: 0.6s ease;
                position: relative;
                background-color: var(--tp-theme-1);
                &::before{
                    position: absolute;
                    content: "";
                    height: 20px;
                    width: 1px;
                    right: 0px;
                    top: -8px;
                    margin: auto;
                    background-color: var(--tp-theme-1);
                }
            }
            &-counter{
                margin-top: -29px;
                font-weight: 500;
                font-size: 14px;
                position: absolute;
                top: 0;
                right: -15px;
                text-transform: uppercase;
            }
        }
        &-input{
            &-content{
                & input,
                & textarea{
                    border-radius: 6px;
                    margin-bottom: 20px;
                    background-color: #f7f9f9;
                    color: var(--tp-common-black);
                    border: 1px solid transparent;
                    &:focus{
                        background-color: transparent;
                        border-color: var(--tp-theme-1);
                        box-shadow: 0px 0px 0px 3px rgba(255, 87, 34, 0.10);
                    }
                    &::placeholder{
                        color: var(--tp-grey-1);
                    }
                }
                & textarea{
                    resize: none;
                    height: 160px;
                }
            }
            &-btn{
                & button{
                    font-size: 16px;
                    font-weight: 500;
                    padding: 15px 35px;
                    border-radius: 6px;
                    letter-spacing: 0;
                    color: var(--tp-common-white);
                    background-color: var(--tp-theme-1);
                    width: 100%;
                    &:hover{
                        color: var(--tp-common-white);
                        background-color: var(--tp-common-red);
                    }
                }
            }
        }
    }
    &-3{
        &-wrap{
            & .tp-team-subtitle {
                border: 1px solid rgba(16, 16, 16, 0.1);
            }
        }
    }
}