@use '../../utils' as *;

/*----------------------------------------*/
/*  7.32 tour css start
/*----------------------------------------*/

.#{$theme-prifix}-tour{
    &-filter{
        @media #{$sm,$xs}{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }
        &-btn{
            color: var(--tp-common-black);
            font-size: 16px;
            letter-spacing: -0.02em;
            border: 1px solid rgba(17, 17, 17, 0.1);
            border-radius: 50px;
            padding: 11px 24px;
            flex: 0 0 auto;
            &:hover{
                color: var(--tp-theme-1);
                border-color: var(--tp-theme-1);
            }
            & svg{
                margin-right: 5px;
                transform: translateY(-2px);
            }
        }
        &-result{
            font-size: 16px;
            line-height: 1;
            letter-spacing: -0.02em;
            color: var(--tp-common-black);
        }
    }
    &-sort{
        & .tp-select{
            font-size: 16px;
            letter-spacing: -0.02em;
            color: var(--tp-common-black);
            padding-right: 45px;
            height: 50px;
            border: 1px solid rgba(17, 17, 17, 0.1);
            border-radius: 50px;
            line-height: 48px;
            &:after{
                right: 24px;
            }
        }
    }
    &-ptb{
        @media #{$xl,$lg,$md,$sm,$xs}{
            padding-top: 100px;
            padding-bottom: 100px;
        }
        &-2{
            @media #{$xl,$lg,$md,$sm,$xs}{
                padding-top: 100px;
                padding-bottom: 50px;
            }
        }
    }
    &-item{
        backdrop-filter: blur(32px);
        box-shadow: 0 9px 20px 0 rgba(0, 0, 0, 0.05);
        background: var(--tp-common-white);
        border-radius: 16px;
        &:hover{
            & .tp-tour-thumb{
                & .image{
                    &::before{
                        opacity: 1;
                        visibility: visible;
                    }
                    & img{
                        transform: scale(1.1);
                    }
                }
            }
            & .tp-tour-media-meta{
                & span, a{
                    opacity: 1;
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                    &:nth-child(1){
                        -webkit-transition: all .7s ease;
                        transition: all .7s ease;
                    }
                    &:nth-child(2){
                        -webkit-transition: all .5s ease;
                        transition: all .5s ease;
                    }
                    &:nth-child(3){
                        -webkit-transition: all .3s ease;
                        transition: all .3s ease;
                    }
                }
            }   
        }
    }
    &-thumb{
        border-radius: 16px 16px 0 0;
        & .image{
            position: relative;
            display: block;
            height: 233px;
            @media #{$sm}{
                height: 320px;
            }
            &::before{
                position: absolute;
                content: "";
                background: rgba(7, 21, 22, 0.2);
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                opacity: 0;
                visibility: hidden;
                transition: all .4s ease;
                z-index: 1;
            }
            & img{
                transition: all .4s ease;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
    &-review{
        & span{
            color: var(--tp-common-yellow);
        }
        &-score{
            font-size: 14px;
            letter-spacing: -0.05em;
            color: var(--tp-grey-1);
            margin-top: 2px;
        }
    }
    &-title{
        font-size: 24px;
        line-height: 125%;
        @media #{$x3l}{
            font-size: 23px;
        }
        @media #{$xxl,$xl,$lg,$md,$sm,$xs}{
            font-size: 20px;
        }
        & a{
            &:hover{
                color: var(--tp-theme-1);
            }
        }
    }
    &-info{
        border-bottom: 1px solid rgba(7, 21, 22, 0.1);
        padding-bottom: 17px;
        margin-bottom: 12px;
        & > span, a{
            font-weight: 400;
            font-size: 15px;
            letter-spacing: -0.01em;
            color: var(--tp-grey-1);
            display: inline-block;
            align-items: center;
            position: relative;
            &:first-child{
                margin-bottom: 4px;
                margin-right: 0;
                padding-right: 0;
                display: block;
                &::before{
                    display: none;
                }
            }
            &:not(:last-child){
                margin-right: 10px;
                padding-right: 10px;
                @media #{$xxl,$xl,$lg,$md,$sm,$xs}{
                    margin-right: 7px;
                }
                &::before{
                    position: absolute;
                    content: "";
                    width: 1px;
                    height: 20px;
                    background: rgba(17, 17, 17, 0.08);
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                }
            }
            & svg{
                transform: translateY(-1px);
                margin-right: 2px;
            }
        }
    }
    &-old{
        &-price{
            text-decoration: line-through;
        }
    }
    &-new{
        &-price{
            font-size: 28px;
            letter-spacing: -0.04em;
            color: var(--tp-theme-1);
            font-weight: 600;
            @media #{$lg}{
                font-size: 22px;
            }
        }
    }
    &-top{
        &-price{
            & span{
                font-size: 14px;
                letter-spacing: -0.01em;
                color: var(--tp-grey-1);
            }
        }
    }
    &-suffix{
        font-size: 14px;
        color: var(--tp-grey-1);
        display: inline-block;
        transform: translateY(-1px);
    }
    &-meta{
        margin-bottom: 8px;
    }
    &-content{
        padding: 14px 24px 20px 24px;
    }
    &-wishlist{
        border-radius: 30px;
        width: 29px;
        height: 29px;
        backdrop-filter: blur(3px);
        background: var(--tp-common-white);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: var(--tp-common-black);
        position: absolute;
        top: 16px;
        right: 16px;
        z-index: 1;
        cursor: pointer;
        transition: all .4s ease;
        &:hover{
            background: var(--tp-theme-1);
            color: var(--tp-common-white);
        }
    }
    &-badge{
        position: absolute;
        top: 16px;
        left: 16px;
        z-index: 1;
        display: flex;
        gap: 5px;
        align-items: start;
        flex-direction: column;
        & .discount{
            font-size: 12px;
            letter-spacing: -0.03em;
            text-transform: uppercase;
            color: var(--tp-common-white);
            border-radius: 24px;
            padding: 8px 12px;
            display: inline-block;
            background: var(--tp-theme-1);
            line-height: 1;
        }
    }
    &-media{
        &-meta{
            position: absolute;
            bottom: 16px;
            right: 16px;
            z-index: 1;
            & span, a{
                border-radius: 24px;
                width: 29px;
                height: 29px;
                box-shadow: 0 1px 20px 0 rgba(17, 17, 17, 0.25);
                background: var(--tp-common-white);
                color: var(--tp-common-black);
                display: inline-flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                opacity: 0;
                -webkit-transition: .45s cubic-bezier(.19,1,.22,1);
                transition: .45s cubic-bezier(.19,1,.22,1);
                -webkit-transform: translateY(25px);
                transform: translateY(25px);
                &:hover{
                    background: var(--tp-theme-1);
                    color: var(--tp-common-white);
                    transition: all .4s ease;
                }
            }
        }
    }
    &-dis{
        &-banner{
            border-radius: 16px;
            padding: 27px 30px 15px 30px;
            @media #{$xl,$lg,$md,$sm,$xs}{
                background-position: right;
            }
        }
        &-icon{
            color: var(--tp-common-white);
            flex-wrap: wrap;
            margin-right: 12px;
        }
        &-subtitle{
            font-family: var(--tp-ff-dancing);
            font-weight: 700;
            font-size: 17px;
            letter-spacing: -0.06em;
            color: var(--tp-common-white);
        }
        &-title{
            font-size: 18px;
            letter-spacing: -0.05em;
            color: var(--tp-common-white);
        }
    }
    &-list{
        & .tp-tour-thumb {
            width: 457px;
            height: 374px;
            border-radius: 8px;
            flex: 0 0 auto;
            @media #{$xl,$md}{
                width: 257px;
                height: 330px;
            }
            @media #{$lg}{
                width: 357px;
                height: 330px;
            }
            @media #{$sm,$xs}{
                width: 100%;
                height: 100%;
            }
        }
        & .tp-tour-thumb .image {
            height: 100%;
        }
        & .tp-tour-dec {
            @media #{$xxl,$xl,$lg,$md,$sm,$xs}{
                & br{
                    display: none;
                }
            }
        }
        & .tp-tour-title {
            @media #{$xl,$lg,$md,$sm,$xs}{
                & br{
                    display: none;
                }
            }
        }
        & .tp-tour-item {
            display: flex;
            align-items: center;
            border: 1px solid rgba(17, 17, 17, 0.1);
            border-radius: 16px;
            padding: 25px;
            @media #{$sm,$xs}{
                flex-wrap: wrap;
            }
            @media #{$xs}{
                padding: 20px;
            }
        }
        & .tp-tour-content {
            width: 100%;
            padding-left: 50px;
            @media #{$xl,$lg,$md}{
                padding-left: 24px;
                padding-right: 0;
                padding-top: 0;
                padding-bottom: 0;
            }
            @media #{$sm,$xs}{
                padding: 0;
                padding-top: 20px;
            }
        }
        & .tp-tour-info {
            padding-bottom: 26px;
            margin-bottom: 27px;
        }
        & .tp-tour-media-meta {
            right: auto;
            left: 16px;
        }
        & .tp-tour-top-price {
            margin-bottom: 4px;
        }
        & .tp-tour-info > span:not(:last-child), .tp-tour-info a:not(:last-child) {
            margin-right: 22px;
            padding-right: 22px;
            @media #{$xs}{
                padding-right: 8px;
                margin-right: 8px;
            }
        }
        &-map{
            & .tp-tour-thumb {
                width: 333px;
                height: 330px;
                @media #{$xxl}{
                    width: 300px;
                    height: 300px;
                }
                @media #{$xl,$md}{
                    width: 257px;
                    height: 330px;
                }
                @media #{$sm,$xs}{
                    width: 100%;
                    height: 100%;
                }
            }
            & .tp-tour-info > span, .tp-tour-info a {
                & svg{
                    color: var(--tp-theme-1);
                }
            }
            & .tp-tour-info > span:not(:last-child), .tp-tour-info a:not(:last-child) {
                margin-right: 10px;
                padding-right: 10px;
            }
            & .tp-tour-info {
                padding-bottom: 17px;
                margin-bottom: 12px;
            }
            & .tp-tour-top-price {
                margin-bottom: 0;
            }
            & .tp-tour-content {
                padding-left: 20px;
                padding-right: 0;
                @media #{$sm,$xs}{
                    padding-left: 0;
                }
            }
        }
    }
    &-map{
        position: sticky;
        top: 0;
        width: 100%;
        height: 1268px;
        padding-left: 60px;
        @media #{$xl}{
            padding-left: 30px;
        }
        @media #{$lg,$md,$sm,$xs}{
            height: 600px;
            padding-left: 15px;
            padding-right: 15px;
        }
        @media #{$xs}{
            height: 400px;
        }
        & iframe{
            width: 100%;
            height: 100%;
            mix-blend-mode: luminosity;
            line-height: 1;
        }
        &-area{
            @media #{$lg,$md,$sm,$xs}{
                overflow: hidden;
            }
        }
    }
    &-grid{
        &-map{
            padding-top: 120px;
            padding-bottom: 160px;
            padding-left: 160px;
            @media #{$x4l}{
                padding-left: 50px;
            }
            @media #{$x3l}{
                padding-left: 15px;
            }
            @media #{$xxl}{
                padding-left: 30px;
                padding-bottom: 120px;
            }
            @media #{$xl,$lg,$md,$sm,$xs}{
                padding-left: 15px;
                padding-bottom: 90px;
                padding-top: 90px;
            }
            @media #{$lg,$md,$sm,$xs}{
                padding-right: 15px;
            }
        }
    }
    &-gallery{
        &-thumb{
            border-radius: 16px;
            & img{
                transition: all .4s ease;
            }
            &:hover{
                & img{
                    transform: scale(1.1);
                }
            }
            & .tp-tour-media-meta{
                left: 32px;
                bottom: 32px;
                right: auto;
            }
            & .tp-tour-media-meta span, .tp-tour-media-meta a {
                opacity: 1;
                -webkit-transform: translateY(0);
                transform: translateY(0);
                width: 50px;
                height: 50px;
            }
            &.gallery{
                & .tp-tour-media-meta{
                    left: auto;
                    right: 32px;
                }
                & .tp-tour-media-meta span, .tp-tour-media-meta a {
                    border-radius: 34px;
                    width: auto;
                    height: auto;
                    padding: 7px 22px;
                    & svg{
                        margin-right: 8px;
                    }
                }
            }
            &.gallery-col-1{
                margin-right: -20px;
                @media #{$md,$sm,$xs}{
                    margin-right: 0;
                }
            }
        }
        &-inner{
            margin-left: 20px;
            @media #{$md,$sm,$xs}{
                margin-left: 0;
            }
        }
        &-gg{
            &-rating{
                & span{
                    color: var(--tp-theme-1);
                    line-height: 1;
                }
                & .rating-count{
                    font-size: 16px;
                    letter-spacing: -0.04em;
                    text-transform: uppercase;
                    color: var(--tp-common-black);
                }
                & p{
                    font-weight: 400;
                    font-size: 16px;
                    color: var(--tp-grey-1);
                }
                &-wrap{
                    background: #f5f7f7;
                    border-radius: 16px;
                    padding: 45px 60px 50px 50px;
                    @media #{$lg,$md,$sm,$xs}{
                        padding: 25px 30px 20px 30px;
                    }
                    @media #{$xl}{
                        & .mb-145{
                            margin-bottom: 95px;
                        }
                    }
                    @media #{$lg}{
                        & .mb-145{
                            margin-bottom: 55px;
                        }
                    }
                    @media #{$md,$sm,$xs}{
                        & .mb-145{
                            margin-bottom: 45px;
                        }
                    }
                }
            }
        }
    }
    &-red{
        & .tp-tour-info > span svg, .tp-tour-info a svg {
            color: var(--tp-theme-1);
        }
    }
    &-tab{
        & ul{
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            justify-content: end;
            @media #{$lg,$md,$sm,$xs}{
                justify-content: flex-start;
            }
            & li{
                list-style: none;
                & a{
                    font-weight: 500;
                    font-size: 16px;
                    letter-spacing: -0.02em;
                    color: var(--tp-common-black);
                    border: 1px solid rgba(0, 53, 50, 0.1);
                    border-radius: 50px;
                    padding: 16px 24px;
                    display: inline-block;
                    line-height: 1;
                    &:hover{
                        background: var(--tp-theme-1);
                        color: var(--tp-common-white);
                    }
                    &.active{
                        background: var(--tp-theme-1);
                        color: var(--tp-common-white);
                    }
                }
            }
        }
    }
}

.tp-animate-tab .tab-pane {
    display: block;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
    transition-timing-function: ease-in;
    transition-duration: 0.2s;
}
.tp-animate-tab .tab-pane.active {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
    position: relative;
    z-index: 2;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
    transition-delay: 0.3s;
}



.tour-checkout{
    &-sidebar{
        &-wrap{
            border: 1px solid rgba(17, 17, 17, 0.06);
            border-radius: 16px;
            box-shadow: 0 6px 28px 0 rgba(0, 0, 0, 0.03);
            background: var(--tp-common-white);
            padding: 32px 32px 25px 32px;
        }
    }
    &-product{
        &-thumb{
            flex: 0 0 auto;
            margin-right: 16px;
            & img{
                width: 100px;
                height: 100px;
                border-radius: 16px;
            }
        }
        &-title{
            font-size: 20px;
            line-height: 150%;
            & a{
                &:hover{
                    color: var(--tp-theme-1);
                }
            }
        }
        &-btn{
            font-weight: 400;
            font-size: 13px;
            letter-spacing: -0.02em;
            color: var(--tp-common-black);
            border: 1px solid var(--tp-theme-1);
            border-radius: 50px;
            padding: 6px 17px;
            display: inline-block;
            line-height: 1;
        }
    }
    &-border{
        border-bottom: 1px solid rgba(7, 21, 22,  0.1);
        padding-bottom: 24px;
        margin-bottom: 24px;
    }
    &-reservation{
        & .item{
            &:not(:last-child){
                margin-bottom: 18px;
            }
        }
        & .value{
            margin-top: 2px;
            font-weight: 400;
            font-size: 16px;
            color: var(--tp-grey-1);
        }
        & .price{
            margin-top: 2px;
            font-weight: 400;
            font-size: 16px;
            color: var(--tp-common-black);
        }
    }
    &-promo{
        &.tp-checkout-verify-item {
            margin-bottom: 0;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
        & .tp-return-customer {
            padding: 20px;
            border-radius: 8px;
        }
        & .tp-checkout-verify-reveal {
            padding: 0;
            border: none;
            font-size: 16px;
            font-weight: 500;
        }
        & .tp-checkout-login-form-reveal-btn{
            color: var(--tp-theme-1);
            font-size: 16px;
            font-weight: 500;
            &::after{
                background: var(--tp-theme-1);
            }
        }
    }
    &-subtotal{
        background: #f9f9f9;
        padding: 15px 20px;
        border-radius: 4px;
        & .value{
            font-size: 18px;
            font-weight: 500;
        }
        & .price{
            font-size: 18px;
            font-weight: 600;
            color: var(--tp-theme-1);
        }
        &.total{
            & .value{
                font-size: 20px;
            }
            & .price{
                font-size: 20px;
            }
        }
    }
    &-form{
        &-single{
            border: 1px solid rgba(17, 17, 17, 0.06);
            border-radius: 16px;
            box-shadow: 0 6px 28px 0 rgba(0, 0, 0, 0.03);
            background: var(--tp-common-white);
            padding: 32px 32px 25px 32px;
            & .tp-review-input .tp-select {
                width: 100%;
                line-height: 56px;
                &::after{
                    right: 20px;
                }
            }
            & .tp-review-select{
                height: 56px;
            }
        }
        &-title{
            font-weight: 500;
            font-size: 20px;
            letter-spacing: -0.02em;
            color: var(--tp-common-black);
        }
    }
}