@use '../../utils' as *;

/*----------------------------------------*/
/*  4.2 Main menu css
/*----------------------------------------*/


.#{$theme-prifix}-main{
    &-menu{
        & nav{
            & ul{
                & li{
                    list-style-type: none;
                    display: inline-block;
                    white-space: nowrap;
                    text-align: left;
                    &:not(:last-child){
                        margin-right: 35px;
                    }
                    &:hover{
                        & > a{
                            color: var(--tp-theme-1);
                        }
                    }
                    & a{
                        font-weight: 500;
                        font-size: 15px;
                        letter-spacing: -0.01em;
                        color: var(--tp-common-black);
                        padding: 27px 0;
                        display: inline-block;
                        line-height: 1;
                    }
                }
            }
        }
    }
}
.header-sticky {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	opacity: 1;
	width: 100%;
	z-index: 10;
	visibility: visible;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 6px 0 rgba(19, 19, 22, 0.08);
	animation: 0.95s ease 0s normal forwards 1 running headerSlideDown;
	-webkit-animation: 0.95s ease 0s normal forwards 1 running headerSlideDown;
    & .tp-header-menu > nav > ul > li > a {
        padding: 22px 0;
    }
    &.sticky-black-bg{
        background: rgba(38, 37, 40, 0.9);
    }
    &.tp-header-blur{
        &::after{
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(40px);
            z-index: -1;
        }
    }
    & .tp-header-two-bg {
        background: none;
        border-radius: 0;
    }
}